@{
    ViewData["Title"] = "Errorelogin";
}

<style>
      
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h2 {
            text-align: left;
            color: #008000;
        }
        
        p {
            line-height: 1.6;
            color: #333;
        }
    </style>

    <h2>Errore</h2>
    <p></b>Mail o Password errate</p>
    <p><a asp-area="" asp-controller="Home" asp-action="Login">Riprova il Login</a> oppure <a asp-area="" asp-controller="Home" asp-action="Registrazione">Registrati</a> </p>

    <p><a asp-area="" asp-controller="Home" asp-action="ResetPass">Password dimenticata?</a></p>