@model IEnumerable<basilico.karol._5h.Ecommerce.Models.Prodotto>

@{
    ViewData["Title"] = "Prodotti";
}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    .container {
        max-width: 1000px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .prodotto-container {
        padding: 10px;
        border-radius: 8px;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h2 {
        text-align: center;
        color: #008000;
    }
    .prodotto-descrizione {
        padding: 10px;
    }
    .prodotto-descrizione h2 {
        margin-top: 0;
    }
    .prodotto-descrizione p {
        margin-bottom: 10px;
    }
    .aggiungi-carrello {
        margin-top: 25px;
    }
    .aggiungi-carrello button {
        background-color: #008000;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
    }
    .prezzo {
        font-weight: bold;
        color: #008000;
        font-size: 20px;
        text-align: right;
    }
</style>

<body>

        <h2><b>Elenco dei prodotti disponibili</b></h2>
        <br>
        <div class="grid-container">
            @foreach (var prodotto in Model)
            {
                <div class="prodotto-container">
                    <div class="prodotto-descrizione">
                        <h2>@prodotto.NomeP</h2>
                        <p>@prodotto.Descrizione</p>
                        <div class="aggiungi-carrello">
                            <form asp-controller="Cart" asp-action="AddToCart" method="post">
                                <input type="hidden" name="prodottoId" value="@prodotto.IdP" />
                                <button type="submit">Aggiungi al carrello</button>
                            </form>
                        </div>
                        <span class="prezzo">€@prodotto.Prezzo</span>
                    </div>
                </div>
            }
        </div>
    
</body>
</html>