@model IEnumerable<basilico.karol._5h.Ecommerce.Models.Prodotto>

@{
    ViewData["Title"] = "Admin";
}
<style>
     button {
            background-color: #008000;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
        }
</style>

<h1>Area Admin</h1>

<br>

    <form asp-action="Create" method="post">
        <div class="form-group">
        <button type="submit" class="buttton">Aggiungi Prodotti</button>   
    </form>

<br>
<br>
<form asp-action="Registrati" method="post">
        <div class="form-group">
        <button type="submit" class="buttton">Lista utenti</button>   
    </form>

